<div>
<p>Un quadrato magico è una disposizione di numeri interi in forma di tabella quadrata in cui siano rispettate due condizioni: i valori siano tutti distinti tra loro e la somma dei numeri presenti in ogni riga, in ogni colonna, e in entrambe le diagonali, dia sempre lo stesso risultato; tale intero è denominato "costante di magia" del quadrato (o "costante magica", o "somma magica").</p>
<br>
<p>Inserisci in numeri in questo quadrato e poi premi invio.</p>
</div>
<br>

<div class="card">
  <div class="card-body">
<form class="row g-3" [formGroup]="form">
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x11" formControlName="x11" >
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x12" formControlName="x12">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x13" formControlName="x13">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x21" formControlName="x21">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x22" formControlName="x22">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x23" formControlName="x23">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x31" formControlName="x31">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x32" formControlName="x32">
  </div>
  <div class="col-md-4">
    <input type="number" appNumeri class="form-control" id="x33" formControlName="x33">
  </div>
  </form>
  </div>
  </div>
  <div class="row g-3" >
  <div class="col-md-1">
    <label for="exampleInputPassword1" class="form-label"></label><br>
    <button type="button" class="btn btn-danger btn-sm" (click)="onReset()"><i class="bi bi-x-circle" style="color: white;"> Cancella</i></button>
  </div>
  <div class="col-md-11">
    <label for="exampleInputPassword1" class="form-label"></label><br>
    <button type="button" class="btn btn-primary btn-sm" (click)="onInvia()"><i class="bi bi-search" style="color:white;"></i> Invia</button>
  </div>
</div>

  {{result}}
