<div style="text-align:center">
     <h1>Select Infinite Scroll</h1>
</div>
<br>

<!-- <div class="container">
  <select class="form-select" size="3" aria-label="size 3 select example" style="background-color: whitesmoke;" (scroll)="getNextTen()">
   <option selected>Scroll this select menu </option>
   <option *ngFor="let option of options1">{{option}}</option>
  </select>
</div> -->
<div class="container">
  <div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false"  >
      Scroll this select menu
    </button>
    <ul class="dropdown-menu" infinite-scroll [infiniteScrollDistance]="2" [scrollWindow]="false" (scrolled)="getNextTen()">
      <li *ngFor="let option of options1"  ><a class="dropdown-item" href="#"></a>{{option}}</li>
    </ul>
  </div>
</div>
